<footer>

    <div class="footer-content">

        <div class="footer-column">

            <h3>ProjetoIF</h3>

            <p>
                Sistema de Gestão de Projetos de Extensão.
            </p>

            <p>
                IFRN - Instituto Federal do Rio Grande do Norte
            </p>

        </div>


        <div class="footer-column">

            <h3>Navegação</h3>

            <p>
                <a href="{% url 'home' %}">
                    Início
                </a>
            </p>

            <p>
                <a href="{% url 'listagem_projetos' %}">
                    Projetos
                </a>
            </p>

            <p>
                <a href="{% url 'admin:index' %}">
                    Área administrativa
                </a>
            </p>

        </div>


        <div class="footer-column">

            <h3>ProjetoIF</h3>

            <p>
                Projetos de extensão, alunos e conhecimento.
            </p>

        </div>

    </div>


    <div class="copyright">

        © 2026 ProjetoIF - Todos os direitos reservados.

    </div>

</footer>