<header>

        <a href="{% url 'home' %}" class="logo">
            <span class="logo-icon">IF</span>
            ProjetoIF
        </a>

        <nav>

            <a href="{% url 'home' %}">
                Início
            </a>

            <a href="{% url 'listagem_projetos' %}">
                Projetos
            </a>

            <a href="#">
                Sobre
            </a>

            <a href="{% url 'admin:index' %}" class="btn-nav">
                Admin
            </a>

        </nav>

    </header>